body {
    margin: 0%;
}

.preheader {
    width: 100%;
    height: 2.5rem;
    background-color: #374197;
    color: white;
    font-family:'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    margin: auto;
    height: 15rem;
    width: 75rem;
}

.imgs {
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 7rem;
    display: flex;
    justify-content: center;
}

.search {
    height: 2rem;
}

.cart {
    height: 2rem;
}

.search:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cart:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
nav a{
    font-family:'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}

a:hover {
    font-weight: bold;
    color: #374197;
}

.banner {
    width: 100%;
}

.twoblocks {
    width: 75rem;
    margin: 3rem auto;
    display: flex;
    justify-content:space-between;
}

.twoblocks a:hover {
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.twotexts {
    width: 52rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}

.twotexts a {
    font-family:'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.selection {
    font-family:'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin: 2rem 10rem;
}

.selection h2 {
    margin-bottom: 0;
}

.selection p {
    margin-top: 0;
}

.pic-selection {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}

.pic-selection a {
    text-decoration: none;
    font-family: 'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin-bottom: 2rem;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    text-align: center;
}